.order {
    padding: 40px 0 101px 0;
    .ticket {
        width: 100%;
    }
    .title {
        font-weight: 700;
        font-size: 32px;
    }
    .cartItem {
        max-width: 514px;
        margin: 40px 0 81px 0;
        display: flex;
        gap: 12px;
        .cartImg {
            width: 120px;
            height: 99px;
            border-radius: 16px;
        }
        .cartItemInfo {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .itemWrapper {
                padding: 12px 0 0 0;
                .itemTitle {
                    font-size: 16px;
                    margin: 0 0 6px 0;
                }
                .itemArt {
                    color: #969eae;
                    margin: 0 0 24px 0;
                }
                .itemCount {
                    display: inline-flex;
                    align-items: center;
                    gap: 12px;
                    border-radius: 32px;
                    border: 1px solid #eeeff2;
                    padding: 5px 11px;
                }
            }
            .price {
                padding: 12px 0 0 0;
                font-size: 16px;
            }
        }
    }
    .form {
        input,
        textarea {
            border: 0;
            outline: 0;
            border-radius: 4px;
            background: #eeeff2;
            padding: 12px 0 12px 14px;
            max-width: 100%;
        }
        input[type="text"] {
            width: 408px;
            // max-width: 100%;
        }
        textarea {
            resize: none;
            height: 120px;
            width: 100%;
        }
        .fieldset {
            font-family: Inter;
            legend {
                margin: 0 0 16px 0;
            }
            border: 0;
        }
        .orderTitle {
            font-size: 20px;
        }
        .formInputs {
            margin: 0 0 24px 0;
            display: grid;
            gap: 16px;
            align-items: center;
            justify-content: space-between;
            grid-template-areas:
                "fio phone"
                "email address"
                "comment comment ";
        }
        .fio {
            grid-area: fio;
        }
        .phone {
            grid-area: phone;
        }
        .email {
            grid-area: email;
        }
        .address {
            grid-area: address;
        }
        .comment {
            grid-area: comment;
        }
        .deliveryTitle {
            font-size: 16px;
        }
        .select {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 416px;
            .selectWrapper {
                font-family: "Open Sans";
                margin: 0 0 8px 0;
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .fieldset {
                label {
                    transform: translateY(2px);
                }
            }
        }
    }
    .sendOrder {
        margin-top: 75px;
        min-width: 408px;
        .sendOrderTitle {
            font-size: 20px;
            margin-bottom: 16px;
            font-weight: 400;
        }
        .orderInfo {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin-bottom: 40px;
        }
        .infoDelivery {
            color: #969eae;
            margin-bottom: 12px;
        }
        .button {
            background: #780096;
            border-radius: 32px;
            text-align: center;
            padding: 12px 24px;
        }
        .orderButton {
            text-align: center;
            color: #fff;
            border: 1px solid #780096;
            background: #780096;
            width: 100%;
        }
    }
}
