.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 32px 0 40px 0;

    @media (min-width: 820px) {
        padding: 40px 0;
    }
}
.logo {
    width: 230px;

    @media (min-width: 580px) {
        grid-column: 1/2;
    }

    @media (min-width: 820px) {
        width: 330px;
    }
}
.developers {
    @media (min-width: 580px) {
        grid-column: 1/2;
    }
}
.contacts {
    @media (min-width: 580px) {
        grid-column: 2/3;
    }
}
.copyright {
    @media (min-width: 580px) {
        grid-column: 1/2;
    }
}
