.list {
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.cardInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    @media (min-width: 580px) {
        flex-direction: row;
    }
    .price {
        font-size: 16px;

        @media (min-width: 820px) {
            font-size: 20px;
        }
    }
}
.button {
    text-align: center;
    border-radius: 32px;
    border: 1px solid #780096;
    padding: 12px 24px;

    &:hover {
        color: #fff;
        background-color: #780096;
        transition: background-color 0.3s ease-in-out;
        // transition: color 0.1s ease-in-out;
    }
}
.like {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
}
.img {
    width: 140px;
    height: 120px;

    @media (min-width: 580px) {
        width: 140px;
        height: 120px;
    }
    @media (min-width: 820px) {
        width: 230px;
        height: 200px;
    }
    @media (min-width: 1024px) {
        width: 302px;
        height: 250px;
    }
}

.title {
    height: 50px;
    @media (min-width: 820px) {
        font-size: 16px;
        width: 151px;
    }
    @media (min-width: 1024px) {
        width: 204px;
    }
}
