.card {
    display: block;
    margin: 24px 0 80px 0;
}
.price {
    font-size: 20px;
    margin-bottom: 12px;
}
.info {
    color: #1c1c1c;
    @media (min-width: 1024px) {
        min-width: 302px;
    }
    @media (min-width: 1440px) {
        min-width: 408px;
    }
}
.article {
    padding: 4px 8px;
    border-radius: 32px;
    background-color: #eeeff2;
    display: inline-block;
    margin-bottom: 24px;
}
.charTitle {
    font-size: 20px;
    font-weight: 400;
}
.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeff2;
    padding-bottom: 8px;
    padding-top: 8px;
}
.type {
    color: #969eae;
}
.list {
    padding: 12px 0 24px 0;
}
.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}
.button {
    width: 100%;
    color: #fff;
    padding: 12px 24px;
    border-radius: 32px;
    background-color: #780096;
}
.sliderThumbnails {
    display: none;
    @media (min-width: 580px) {
        display: block;
        margin-bottom: 40px;
    }
}
.sliderMain {
    position: relative;
    margin: 32px 0 24px 0;
    // @media (min-width: 1024px) {
    //     max-width: 620px;
    //     width: 100%;
    // }

    button {
        svg {
            opacity: 0.4;
        }
    }
    .next {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 2%;
    }
    .prev {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 2%;
    }
}
.title {
    font-size: 24px;
    font-weight: 700;
}
.imageMain {
    width: 100%;
    border-radius: 16px;
    @media (min-width: 820) {
        height: 586px;
    }
    @media (min-width: 1024px) {
        height: 586px;
    }
    @media (min-width: 1440px) {
        height: 688px;
    }
}
.flexWrapper {
    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    display: block;
}
.images {
    @media (min-width: 1024px) {
        max-width: 620px;
    }
    @media (min-width: 1440px) {
        max-width: 832px;
    }
}
.imgThumb {
    border-radius: 16px;
    cursor: pointer;
}
